- require 'sass'

!!!
%html
  %head
    %title Crime Rates versus Incomes per US State
  %body
    :css
      #{Sass.compile_file('screen.css.sass')}
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script(src="http://www.google.com/jsapi")
    :javascript
      #{File.read('visualize.js')}

    #chart_container
      %label Crime Types:
      %select#chart_select(multiple="multiple")
      #chart_canvas
    #map_container
      %label Crime Type:
      %select#map_select
      #map_canvas
      #bar_canvas
