!!!
%html
  %head
    %title Crime Rates versus Incomes per US State
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script(src="http://www.google.com/jsapi")
    %script(src="visualize.js")
  %body
    %div#map_canvas
