!!!
%html
  %head
    %title Crime Rates versus Incomes per US State
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script(src="http://www.google.com/jsapi")
    %script(src="data.js")
    %script(src="visualize.js")
  -#
    :javascript
      #{File.read('visualize.js')}
  %body
    #chart_container
      %label Crime Types:
      %select#chart_select(multiple="multiple")
      #chart_canvas
    #map_container
      %label Crime Type:
      %select#map_select
      #map_canvas
      #bar_canvas
